<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SIMS_v1</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletSignIn</servlet-name>
    <servlet-class>com.sims.servlet.ServletSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignIn</servlet-name>
    <url-pattern>/ServletSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSignOut</servlet-name>
    <servlet-class>com.sims.servlet.ServletSignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSignOut</servlet-name>
    <url-pattern>/ServletSignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRefUserType</servlet-name>
    <servlet-class>com.sims.servlet.ServletRefUserType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRefUserType</servlet-name>
    <url-pattern>/ServletRefUserType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRefCourse</servlet-name>
    <servlet-class>com.sims.servlet.ServletRefCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRefCourse</servlet-name>
    <url-pattern>/ServletRefCourse</url-pattern>
  </servlet-mapping>
  <servlet>
      <servlet-name>ServletStudentRegiApplication</servlet-name>
      <servlet-class>com.sims.servlet.ServletStudentRegiApplication</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ServletStudentRegiApplication</servlet-name>
      <url-pattern>/ServletStudentRegiApplication</url-pattern>
  </servlet-mapping>
</web-app>